<div style="display: flex">
  <div style="flex: 1">
    <ul>
      <li><a routerLink='buffer'>Simple Buffer</a></li>
    </ul>
    <ul>
      <li><a routerLink='buffer-count'>Buffer Count</a></li>
    </ul>
    <ul>
      <li><a routerLink='buffer-time'>Buffer Time</a></li>
    </ul>
    <ul>
      <li><a routerLink='buffer-toggle'>Buffer Toggle</a></li>
    </ul>
    <ul>
      <li><a routerLink='buffer-when'>Buffer When</a></li>
    </ul>
    <ul>
      <li><a routerLink='take'>Simple Take</a></li>
    </ul>
    <ul>
      <li><a routerLink='take-last'>Take Last</a></li>
    </ul>
    <ul>
      <li><a routerLink='take-until'>Take Until</a></li>
    </ul>
    <ul>
      <li><a routerLink='take-while'>Take While</a></li>
    </ul>
    <ul>
      <li><a routerLink='skip'>Simple Skip</a></li>
    </ul>
    <ul>
      <li><a routerLink='skip-last'>Skip Last</a></li>
    </ul>
  </div>
  <div style="flex: 4">
    <router-outlet></router-outlet>
  </div>
</div>
